* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e17055;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.p-h-100 {
    height: 100%;
}

.p-h-90 {
    height: 90%;
}

.p-h-80 {
    height: 80%;
}

.p-h-75 {
    height: 75%;
}

.p-h-50 {
    height: 50%;
}

.h-100 {
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1140px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.center-x {
    display: flex;
    justify-content: center;
}

.center-y {
    display: flex;
    align-items: center;
}

.end-y {
    display: flex;
    align-items: flex-end;
}

.space-between {
    display: flex;
    justify-content: space-between;
}
