/* #e17055 */

:root {
	font-size: 16px;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #f5f7fa;
	font-family: 'Roboto', sans-serif;
}

#menu {
	z-index: 1;
	background-color: #fff;
	display: block;
	position: fixed;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.nav-bar {
	display: block;
}

.avatar {
	width: 74px;
	height: 74px;
	border-radius: 50%;
	margin-left: 1rem;
	margin-right: 1rem;
	box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.5);
}

.link-logo {
	color: white;
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1140px;
}

.row {
	display: flex;
}

.col {
	flex: 1;
}

.col-2 {
	flex: 2;
}

.btn-primary {
	border: 1px solid #4cd137;
	background-color: #4cd137;
}

.btn-danger {
	border: 1px solid #ea2027;
	background-color: #ea2027;
}

.true {
	display: block;
}

.false {
	display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
