/* #e17055 */

:root {
	font-size: 16px;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ececec;
	font-family: 'Roboto', sans-serif;
}

#root {
	display: flex;
	height: 100vh;
}

#root > * {
	width: 100%;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.send-btn {
	width: 6rem;
	height: 70%;
	border: 1px solid transparent;
	border-radius: 4rem;
	color: white;
	font-weight: 600;
	cursor: pointer;
	background-size: 400% 400%;
	animation-direction: alternate;
	animation: gradient 60s infinite;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
	background: linear-gradient(-45deg, #e17055, #e73c7e, #23a6d5, #23d5ab);
}

.send-btn:active {
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.27);
}

.true {
	display: block;
}

.false {
	display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
