.menu-logo {
    color: #fff;
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    box-shadow: 0 1px 8px 0 rgba(0, 17, 25, 0.27);
    background: linear-gradient(-45deg, #e17055, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 60s infinite;
    animation-direction: alternate;
}

.menu-navbar {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

.match-recipes-list {
    margin-top: 1rem;
    height: 80%;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: none;
}

.match-recipes:first-child {
    margin-top: 1rem;
}

.match-recipes {
    transition: box-shadow 1s ease-in-out;
    display: flex;
    height: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

.match-recipes:last-child {
    margin-bottom: 1rem;
}

.match-recipes:hover {
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: 0 0px 10px 0 rgba(136, 136, 136, 0.3);
}

.match-recipes > h3 {
    font-weight: 400;
}

.avatar {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.menu-button {
    transition: border-bottom 0.5s ease-in-out;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
    background-color: transparent;
    border: 2px solid transparent;
    color: black;
    cursor: pointer;
}

.menu-button:hover {
    transition: border-bottom 0.5s ease-in-out;
    color: black;
    border-bottom: 2px solid #e17055;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
