.move-left,
.move-right {
    -webkit-transition: -webkite-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

.move-left {
    -webkit-transform: -webkit-translate (10000px, 0px) -webskite-rotate(-20deg);
    transform: translate(-1000px, 0px) rotate(20deg);
}

.move-right {
    -webkit-transform: -webkit-translate (1000px, 0px) -webskite-rotate(-20deg);
    transform: translate(1000px, 0px) rotate(20deg);
}

.food-card-content {
    margin: 0px 2rem;
}

.btn-primary {
    border: 1px solid #4cd137;
    background-color: #4cd137;
}

.btn-danger {
    border: 1px solid #ea2027;
    background-color: #ea2027;
}

.overlay-container {
    position: relative;
    height: 400px;
}

.images {
    position: relative;
    width: 375px;
    height: 405px;
}

.image-overlay {
    position: absolute;
    width: 375px;
    height: 405px;
    border-radius: 1rem;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
}

.image-screen {
    position: absolute;
}

.icons {
    font-size: inherit;
}

.icons-nav {
    display: flex;
    justify-content: center;
}

.icons-nav > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.3);
    border: 1px solid transparent;
    border-radius: 50%;
    color: red;
    cursor: pointer;
}

.icons-nav > button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.icons-nav > button:nth-child(odd) {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: blue;
}

span[icon="replay"] {
    color: #f1c40f;
}

span[icon="close"] {
    color: #e74c3c;
}

span[icon="star"] {
    color: #3498db;
}

span[icon="favorite"] {
    color: #2ecc71;
}

span[icon="flash_on"] {
    transform: rotate(10deg);
    color: #9b59b6;
}
